<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{% block title %}YUNDA Europe{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!--[if !IE]> -->
		<link rel="stylesheet" href="{% static 'assets/css/pace.css' %}" />

		<script data-pace-options='{ "ajax": true, "document": true, "eventLag": false, "elements": false }' src="{% static 'assets/js/pace.js' %}"></script>

		<!-- <![endif]-->

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'assets/css/ace-fonts.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'assets/css/ace.css' %}" class="ace-main-stylesheet" id="main-ace-style" />
		
		<link href="{% static 'bootstrap/css/bootstrap-dialog.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/smoke/css/smoke.min.css' %}" rel="stylesheet" type="text/css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'assets/css/ace-part2.css' %}" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'assets/css/ace-ie.css' %}" />
		<![endif]-->

		<!-- ace settings handler -->
		<script src="{% static 'assets/js/ace-extra.js' %}"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'assets/js/html5shiv.js' %}"></script>
		<script src="{% static 'assets/js/respond.js' %}"></script>
		<![endif]-->
		{% block add_head %}{% endblock %}
		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ed71d3ed15e5340aaa706b8942b375d8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
		
	</head>

	<body class="no-skin">
	   
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default navbar-fixed-top">

			<div class="navbar-container" id="navbar-container">
				<!-- #section:basics/sidebar.mobile.toggle -->


				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="{% url 'home' %}" class="navbar-brand">
						<small>
						    <img src="{% static 'assets/images/logo-s.png' %}" alt="yunda" height="22" width="118">
							<span class="red">韵达快递|欧洲</span>
						</small>
					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>
			</div><!-- /.navbar-container -->
		</div>
        
        
		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
            
            
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
				    {% if request.user.is_authenticated %}
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
                        {% if breadcrumbs %}
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/">{% trans 'Home' %}</a>
							</li>
							{% for breadcrumbs_item in breadcrumbs %}
							<li>
                                
                                <a href="{{ breadcrumbs_item.url }}">{{ breadcrumbs_item.name }}</a>
                            </li>
                            {% endfor %}
						</ul><!-- /.breadcrumb -->
						{% endif %}

						
					</div>
                    {% endif %}
                    
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						
						<!-- /section:settings.box -->
						<div class="page-content-area">
							{% block content %}{% endblock %}
						</div><!-- /.page-content-area -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span>
							<span class="red">YUNDA Express Europe GmbH</span>
							&copy; 2015
						</span>

						&nbsp; &nbsp;
						<span>
							<a href="{% url 'help' %}">
								<span class="">{% trans 'Help' %}</span>
							</a>
                            -
                            <a href="{% url 'help' %}">
                                <span class="">{% trans 'Contact us' %}</span>
                            </a>
                            -
							<a target="_blank" href="{% static 'agb.pdf' %}">
								<span class="">AGB</span>
							</a>
                            -
							<a href="{% url 'imprint' %}">
								<span class="">Impressum</span>
							</a>
							
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
        
		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{% static 'assets/js/jquery.js' %}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{% static 'assets/js/jquery1x.js' %}'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'assets/js/jquery.mobile.custom.js' %}'>"+"<"+"/script>");
		</script>
		<script src="{% static 'assets/js/bootstrap.js' %}"></script>

		<!-- ace scripts -->
		<script src="{% static 'assets/js/ace/elements.scroller.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.colorpicker.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.fileinput.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.typeahead.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.wysiwyg.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.spinner.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.treeview.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.wizard.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.aside.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.ajax-content.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.touch-drag.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.sidebar.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.sidebar-scroll-1.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.submenu-hover.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.widget-box.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.settings.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.settings-rtl.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.settings-skin.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.widget-on-reload.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.searchbox-autocomplete.js' %}"></script>
		<script src="{% static 'assets/smoke/js/smoke.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap-dialog.min.js' %}"></script>
        {% block footer-script %}{% endblock %}
	</body>
</html>
