<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{% block title %}YUNDA Europe{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!--[if !IE]> -->
		<link rel="stylesheet" href="{% static 'assets/css/pace.css' %}" />

		<script data-pace-options='{ "ajax": true, "document": true, "eventLag": false, "elements": false }' src="{% static 'assets/js/pace.js' %}"></script>

		<!-- <![endif]-->

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'assets/css/ace-fonts.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'assets/css/ace.css' %}" class="ace-main-stylesheet" id="main-ace-style" />
		
		<link href="{% static 'bootstrap/css/bootstrap-dialog.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/smoke/css/smoke.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://www.google.com/recaptcha/api.js"></script>
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'assets/css/ace-part2.css' %}" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'assets/css/ace-ie.css' %}" />
		<![endif]-->

		<!-- ace settings handler -->
		<script src="{% static 'assets/js/ace-extra.js' %}"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'assets/js/html5shiv.js' %}"></script>
		<script src="{% static 'assets/js/respond.js' %}"></script>
		<![endif]-->
		{% block add_head %}{% endblock %}
		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ed71d3ed15e5340aaa706b8942b375d8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
		
	</head>

	<body class="no-skin">
	   
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default navbar-fixed-top">

			<div class="navbar-container" id="navbar-container">
				<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="{% url 'home' %}" class="navbar-brand">
						<small>
						    <img src="{% static 'assets/images/logo-s.png' %}" alt="yunda" height="22" width="118">
							<span class="red">{% trans 'Shipping System' %}</span>
						</small>
					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>
                
                {% if False %}
				<!-- #section:basics/navbar.dropdown -->
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
					   <!-- #section:basics/navbar.user_menu -->
                        <li class="red">
                            <a  class="dropdown-toggle">
                                <i class="ace-icon fa fa-user"></i>
                                <span class="user-info">
                                    <small>{% trans "Your Customer no." %},</small>
                                    {{ user.userprofile.customer_number }}
                                </span>
                            </a>
                        </li>
                        
                        <li class="red">
                            <a href="{% url 'userena_signout' %}" class="">
                                
                                <span class="">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    {% trans "Signout" %}
                                </span>
                            </a>
                        </li>
                        <!-- /section:basics/navbar.user_menu -->
					</ul>
				</div>

				<!-- /section:basics/navbar.dropdown -->
				{% endif %}
			</div><!-- /.navbar-container -->
		</div>
        
        
		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
            {% if False %}
			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive sidebar-fixed">

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<a class="btn btn-danger" href="{% url 'parcel_intl_create' %}">
							<i class="ace-icon fa fa-plane"></i>
						</a>

						<a class="btn btn-primary" href="{% url 'create_dhl_retoure_label' %}">
							<i class="ace-icon fa fa-truck"></i>
						</a>

						<!-- #section:basics/sidebar.layout.shortcuts -->
						<a class="btn btn-warning" href="{% url 'my_price_and_fund' %}">
							<i class="ace-icon fa fa-user"></i>
						</a>
                        
                        <a class="btn btn-success" href="{% url 'help' %}">
							<i class="ace-icon fa fa-question"></i>
						</a>

						<!-- /section:basics/sidebar.layout.shortcuts -->
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-danger"></span>

						<span class="btn btn-primary"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-success"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="" id="sidebar-1-intl-shipment">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-plane"></i>
							<span class="menu-text">
								{% trans "Intl. shipment" %}
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li id="sidebar-1-intl-shipment-create">
								<a href="{% url 'parcel_intl_create' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans "Create new shipment" %}
								</a>

								<b class="arrow"></b>
							</li>

							<li class="" id="sidebar-1-intl-shipment-draft">
								<a href="{% url 'parcel_intl_list' %}?s=draft">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans "Draft" %}
								</a>

								<b class="arrow"></b>
							</li>

							<li class="" id="sidebar-1-intl-shipment-paid">
								<a href="{% url 'parcel_intl_list' %}?s=paid">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans "Paid" %}
								</a>

								<b class="arrow"></b>
							</li>
							
							<li class="" id="sidebar-1-intl-shipment-waiting-sender-pay-rest">
                                <a href="{% url 'parcel_intl_list' %}?s=waiting-sender-pay-rest">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans "Waiting sender pay rest" %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                            
                            <li class="" id="sidebar-1-intl-shipment-waiting-receiver-pay">
                                <a href="{% url 'parcel_intl_list' %}?s=waiting-receiver-pay">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans "Waiting receiver pay" %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                            
							<li class="" id="sidebar-1-intl-shipment-all">
								<a href="{% url 'parcel_intl_list' %}?s=all">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans "All" %}
								</a>

								<b class="arrow"></b>
							</li>

						</ul>
					</li>

					<li class="" id="sidebar-1-retoure-label">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-truck"></i>
							<span class="menu-text">{% trans 'Retoure label' %}</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="" id="sidebar-1-retoure-label-create">
								<a href="{% url 'create_dhl_retoure_label' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans 'Create retoure label' %}
								</a>

								<b class="arrow"></b>
							</li>

							<li class="" id="sidebar-1-retoure-label-draft">
								<a href="{% url 'retoure_label_list' %}?s=draft">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans 'Draft' %}
								</a>

								<b class="arrow"></b>
							</li>
							
							<li class="" id="sidebar-1-retoure-label-paid">
                                <a href="{% url 'retoure_label_list' %}?s=paid">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'Paid' %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                            
                            <li class="" id="sidebar-1-retoure-label-all">
                                <a href="{% url 'retoure_label_list' %}?s=all">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'All' %}
                                </a>

                                <b class="arrow"></b>
                            </li>
						</ul>
					</li>

					<li class="" id="sidebar-1-address-template">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> {% trans 'Address book' %} </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="" id="sidebar-1-address-template-sender">
								<a href="{% url 'sender_template_list' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans 'Sender address' %}
								</a>

								<b class="arrow"></b>
							</li>

							<li class="" id="sidebar-1-address-template-receiver">
								<a href="{% url 'receiver_template_list' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									{% trans 'Receiver address' %}
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					
					<li class="" id="sidebar-1-user-center">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text"> {% trans 'User center' %} </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="" id="sidebar-1-user-center-my-price">
                                <a href="{% url 'my_price_and_fund' %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'Deposit & price' %}
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="" id="sidebar-1-user-center-deposit">
                                <a href="{% url 'deposit_transfer_list' %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'Deposit transfers' %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                            
                            <li class="" id="sidebar-1-user-center-profile">
                                <a href="{% url 'userena_profile_detail' user.username %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'Invoice address' %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="" id="sidebar-1-user-center-profile-edit">
                                <a href="{% url 'userena_profile_edit' user.username %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'Change invoice address' %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="" id="sidebar-1-user-center-password-change">
                                <a href="{% url 'userena_password_change' user.username %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {% trans 'Change password' %}
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>
            {% endif %}
            
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
				    {% if request.user.is_authenticated %}
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
                        {% if breadcrumbs %}
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/">{% trans 'Home' %}</a>
							</li>
							{% for breadcrumbs_item in breadcrumbs %}
							<li>
                                
                                <a href="{{ breadcrumbs_item.url }}">{{ breadcrumbs_item.name }}</a>
                            </li>
                            {% endfor %}
						</ul><!-- /.breadcrumb -->
						{% endif %}

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search" action="{% url 'parcel_intl_list' %}" method="get">
								<span class="input-icon">
									<input name="s" type="text" placeholder="Search shipment" class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
                    {% endif %}
                    
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						
						<!-- /section:settings.box -->
						<div class="page-content-area">
							{% block content %}{% endblock %}
						</div><!-- /.page-content-area -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span>
							<span class="red">YUNDA Express Europe GmbH</span>
							&copy; 2015
						</span>

						&nbsp; &nbsp;
						<span>
							<a href="{% url 'help' %}">
								<span class="">{% trans 'Help' %}</span>
							</a>
                            -
                            <a href="{% url 'help' %}">
                                <span class="">{% trans 'Contact us' %}</span>
                            </a>
                            -
							<a target="_blank" href="{% static 'agb.pdf' %}">
								<span class="">AGB</span>
							</a>
                            -
							<a href="{% url 'imprint' %}">
								<span class="">Impressum</span>
							</a>
							
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
        
		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{% static 'assets/js/jquery.js' %}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{% static 'assets/js/jquery1x.js' %}'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'assets/js/jquery.mobile.custom.js' %}'>"+"<"+"/script>");
		</script>
		<script src="{% static 'assets/js/bootstrap.js' %}"></script>

		<!-- ace scripts -->
		<script src="{% static 'assets/js/ace/elements.scroller.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.colorpicker.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.fileinput.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.typeahead.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.wysiwyg.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.spinner.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.treeview.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.wizard.js' %}"></script>
		<script src="{% static 'assets/js/ace/elements.aside.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.ajax-content.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.touch-drag.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.sidebar.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.sidebar-scroll-1.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.submenu-hover.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.widget-box.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.settings.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.settings-rtl.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.settings-skin.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.widget-on-reload.js' %}"></script>
		<script src="{% static 'assets/js/ace/ace.searchbox-autocomplete.js' %}"></script>
		<script src="{% static 'assets/smoke/js/smoke.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap-dialog.min.js' %}"></script>
        {% block footer-script %}{% endblock %}
	</body>
</html>
