{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.userprofile.customer_number as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form">
  
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input class="btn btn-danger btn-sm" type="submit" value="{% trans "Change password" %}" />
  <input class="btn btn-default btn-sm" type="button" onclick="window.history.back();" value="返回" />
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p class="forgot-password"><a href="{% url 'userena_signin' %}" title="{% trans 'Signin' %}">{% trans "Return to signin" %}</a></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p class="new-signup pull-right"><a href="{% url 'userena_signup' %}" title="{% trans 'Signup' %}">{% trans "Signup new account" %}</a></p>
    </div> 
</div>
{% endblock %}

