{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signed out" %}{% endblock %}
{% block content_title %}{% trans "You have been signed out" %}.{% endblock %}

{% block content %}
    <p>{% trans "You have been signed out. Till we meet again." %}</p>
    
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="forgot-password"><a href="{% url 'userena_signup' %}" title="{% trans 'Signup' %}">{% trans "Signup new account" %}</a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="new-signup pull-right"><a href="{% url 'userena_signin' %}" title="{% trans 'Signin' %}">{% trans "Go to signin" %}</a></p>
        </div>  
    </div>
{% endblock %}
