{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account activation failed." %}{% endblock %}
{% block content_title %}<h2>{% trans "Your account could not be activated..." %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Your account could not be activated. This could be because your activation link has aged." %}</p>
<p>{% trans "Please try signing up again or contact us if you think something went wrong." %}</p>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="forgot-password"><a href="{% url 'userena_signin' %}" title="{% trans 'Signin' %}">{% trans "Return to signin" %}</a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="new-signup pull-right"><a href="{% url 'userena_signup' %}" title="{% trans 'Signup' %}">{% trans "Signup new account" %}</a></p>
        </div>  
    </div>
</div>
{% endblock %}
