{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content_title %}
    <i class="ace-icon fa fa-undo red"></i>
    {% trans 'Reset password' %}
{% endblock %}
{% block content %}
<form action="" method="post">
  <fieldset>
    {% csrf_token %}
    {% bootstrap_form form %}
  </fieldset>
  <button type="submit" class="btn btn-sm btn-danger btn-block">
   <span class="bigger-110"><b>{% trans "Reset password" %}</b></span>
  </button>
</form>
{% endblock %}
