{% extends 'base/ace-base-no-nav.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    Impressum - {% trans 'YUNDA Europe' %}
{% endblock %}
{% block content %}
<div class="page-header">
                            <h1>
                                Impressum
                            </h1>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                YUNDA Express Europe GmbH<br>
                                Geschäftsführer: Yunling Wu<br>
                                Geschäftsanschrift:<br>
                                Hessenring 23<br>
                                D-64546 Mörfelden-Walldorf<br>
                                Amtsgericht Darmstadt, HRB 93850<br>
                                USt-IdNr: DE 298411360<br>
                                Tel: 06105/7178 778<br>
                                Fax: 06105/7178 779<br>
                                Email: sales@yunda-express.eu<br>
                                

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    
{% endblock %}

