{% extends 'base/ace-base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}客服工单 {{ subject.title}}{% endblock %}
{% block add_head %}

{% endblock %}
{% block content %}
<div class="page-header">
	<h1>{{ subject.title}}</h1>
</div>
<!-- /.page-header -->
<div id="timeline-2" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- #section:pages/timeline.style2 -->
            <div class="timeline-container timeline-style2">
                <div class="col-xs-12 col-sm-10">
                    <span class="label label-lg label-warning">{{ subject.get_warehause_name }}</span>
                    <span class="label label-lg label-warning">建立时间 {{ subject.created_at|date:'Y-m-d' }}</span>
                    {% if subject.created_by_stuff %}
                        <span class="label label-lg label-warning">系统通知</span>                   
                    {% endif %}
                    {% if subject.closed_at %}
                        <span class="label label-lg label-warning"><i class="ace-icon fa fa-check bigger-120"></i> 已完结</span>
                        <span class="label label-lg label-warning">完结时间 {{ subject.closed_at|date:'Y-m-d' }}</span>                   
                    {% endif %}
                    
                </div>
                
                <span class="timeline-label">
                    <b> </b>
                </span>
                
                <div class="timeline-items">
                    {% for message in subject.messenge_set.all %}
                    <div class="timeline-item clearfix">
                        <div class="timeline-info">
                            <span class="timeline-date">{{ message.created_at|date:'Y-m-d H:i' }}</span>
                            <i class="timeline-indicator btn btn-info no-hover"></i>
                        </div>

                        <div class="widget-box transparent">
                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <span class="bigger-110">
                                        {% if message.created_by_stuff %}
                                        <b>韵达客服{{ message.stuff_name }}: </b>
                                        {{ message.get_content|safe }}
                                        {% else %}
                                        <b>您: </b>
                                        {{ message.content }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    
                </div><!-- /.timeline-items -->
                
                 <div class="col-xs-12 col-sm-10">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_field form_messenge.content form_group_class="form-group" layout="horizontal" horizontal_label_class='col-sm-2 control-label no-padding-right hidden' horizontal_field_class='col-sm-8' %}
                        <div class="form-group">
                            <div class="col-sm-11" style="margin-top:5px;">
		                        <button type="submit" class="btn btn-danger btn-sm">回复</button>
		                        <button type="reset" class="btn btn-cancel btn-sm">重置</button>
	                        </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.timeline-container -->

            
        </div>
    </div>
</div>

{% endblock %}

{% block footer-script %}


<script type="text/javascript">

$(document).ready(function(){
    $('#sidebar-1-customer-service').addClass('active open');
    $('#sidebar-1-customer-service-list').addClass('active');
    
});
</script>

{% endblock %}
